.heading-main {
  margin-top: 0;
  text-transform: uppercase;
  color: #333;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.para {
  color: #333;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.heading-light {
  color: #aaa;
}

.btn-join-game {
  font-weight: bold;
  font-size: 24px;
}

.section-join-game {
  border: 2px solid #333;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.field-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.field-cell {
  width: calc(50% - 40px);
  padding: 10px 20px;
}

.align-right {
  text-align: right;
}

.text-field-label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

.text-field {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #333;
  font-size: 18px;
}

.join-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.host-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.game-code-box {
  border: 2px solid #333;
  width: auto;
  padding: 8px;
  font-size: 28px;
  display: inline-block;
  margin: 10px 0;
}